common.dll filter=lfs diff=lfs merge=lfs -text
cudart64_50_35.dll filter=lfs diff=lfs merge=lfs -text
ColorCorrectLib.dll filter=lfs diff=lfs merge=lfs -text
FreeImage.dll filter=lfs diff=lfs merge=lfs -text
app.dll filter=lfs diff=lfs merge=lfs -text
boost_iostreams-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_locale-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_thread-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
algorithmHj.dll filter=lfs diff=lfs merge=lfs -text
boost_math_c99l-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_serialization-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
cudart64_70.dll filter=lfs diff=lfs merge=lfs -text
algorithm1.dll filter=lfs diff=lfs merge=lfs -text
boost_math_tr1l-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
desk_calibration.dll filter=lfs diff=lfs merge=lfs -text
einscan_calibration.dll filter=lfs diff=lfs merge=lfs -text
alpV42.dll filter=lfs diff=lfs merge=lfs -text
boost_prg_exec_monitor-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_wserialization-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
algorithmHljNew_sam.dll filter=lfs diff=lfs merge=lfs -text
boost_regex-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
cufft64_70.dll filter=lfs diff=lfs merge=lfs -text
d3dcompiler_47.dll filter=lfs diff=lfs merge=lfs -text
algorithmHlj.dll filter=lfs diff=lfs merge=lfs -text
boost_date_time-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_log-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_program_options-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_zlib-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
BayerDec.dll filter=lfs diff=lfs merge=lfs -text
boost_log_setup-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_math_tr1f-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_signals-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
algorithmZbt.dll filter=lfs diff=lfs merge=lfs -text
boost_math_tr1-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_context-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_coroutine-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_random-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
ceres-debug.dll filter=lfs diff=lfs merge=lfs -text
dynamixel.dll filter=lfs diff=lfs merge=lfs -text
boost_graph-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_system-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_atomic-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_filesystem-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_unit_test_framework-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
ceres.dll filter=lfs diff=lfs merge=lfs -text
commonNew.dll filter=lfs diff=lfs merge=lfs -text
boost_chrono-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_container-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_math_c99f-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_timer-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
ControlProAndIRCamera.dll filter=lfs diff=lfs merge=lfs -text
algorithm2.dll filter=lfs diff=lfs merge=lfs -text
boost_bzip2-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
CameraCalibration.dll filter=lfs diff=lfs merge=lfs -text
algorithmHljNew.dll filter=lfs diff=lfs merge=lfs -text
boost_math_c99-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_python-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
boost_wave-vc120-mt-1_58.dll filter=lfs diff=lfs merge=lfs -text
nppc64_70.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudafeatures2d300.dll filter=lfs diff=lfs merge=lfs -text
opencv_features2d300.dll filter=lfs diff=lfs merge=lfs -text
opencv_photo300.dll filter=lfs diff=lfs merge=lfs -text
globas.dll filter=lfs diff=lfs merge=lfs -text
hasp_windows_x64_105562.dll filter=lfs diff=lfs merge=lfs -text
ircamera_control.dll filter=lfs diff=lfs merge=lfs -text
opencv_video300.dll filter=lfs diff=lfs merge=lfs -text
information_api.dll filter=lfs diff=lfs merge=lfs -text
nppi64_70.dll filter=lfs diff=lfs merge=lfs -text
opencv_imgproc300.dll filter=lfs diff=lfs merge=lfs -text
opencv_ffmpeg300_64.dll filter=lfs diff=lfs merge=lfs -text
opencv_stitching300.dll filter=lfs diff=lfs merge=lfs -text
hardware_line_scaner.dll filter=lfs diff=lfs merge=lfs -text
libGLESv2.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudabgsegm300.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudacodec300.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudaobjdetect300.dll filter=lfs diff=lfs merge=lfs -text
libGLESv2d.dll filter=lfs diff=lfs merge=lfs -text
opencv_core300.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudastereo300.dll filter=lfs diff=lfs merge=lfs -text
lib3MF.dll filter=lfs diff=lfs merge=lfs -text
libgfortran-3.dll filter=lfs diff=lfs merge=lfs -text
opencv_calib3d300.dll filter=lfs diff=lfs merge=lfs -text
libblas.dll filter=lfs diff=lfs merge=lfs -text
LibMVUSBUpdate.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudaoptflow300.dll filter=lfs diff=lfs merge=lfs -text
opencv_objdetect300.dll filter=lfs diff=lfs merge=lfs -text
libpng.dll filter=lfs diff=lfs merge=lfs -text
opencv_core243.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudev300.dll filter=lfs diff=lfs merge=lfs -text
opencv_videostab300.dll filter=lfs diff=lfs merge=lfs -text
glog.dll filter=lfs diff=lfs merge=lfs -text
laser_scaner.dll filter=lfs diff=lfs merge=lfs -text
libglog.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudafilters300.dll filter=lfs diff=lfs merge=lfs -text
opencv_superres300.dll filter=lfs diff=lfs merge=lfs -text
libcurl.dll filter=lfs diff=lfs merge=lfs -text
libeay32.dll filter=lfs diff=lfs merge=lfs -text
libquadmath-0.dll filter=lfs diff=lfs merge=lfs -text
opencv_world300.dll filter=lfs diff=lfs merge=lfs -text
OpenMeshTools.dll filter=lfs diff=lfs merge=lfs -text
libpngd.dll filter=lfs diff=lfs merge=lfs -text
logiclayer.dll filter=lfs diff=lfs merge=lfs -text
opencv_shape300.dll filter=lfs diff=lfs merge=lfs -text
npp64_50_35.dll filter=lfs diff=lfs merge=lfs -text
opencv_flann300.dll filter=lfs diff=lfs merge=lfs -text
opencv_ml300.dll filter=lfs diff=lfs merge=lfs -text
opengl32sw.dll filter=lfs diff=lfs merge=lfs -text
OpenMeshCore.dll filter=lfs diff=lfs merge=lfs -text
libEGL.dll filter=lfs diff=lfs merge=lfs -text
libEGLd.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudaimgproc300.dll filter=lfs diff=lfs merge=lfs -text
opencv_imgcodecs300.dll filter=lfs diff=lfs merge=lfs -text
opencv_videoio300.dll filter=lfs diff=lfs merge=lfs -text
LatestVersion.dll filter=lfs diff=lfs merge=lfs -text
libgcc_s_sjlj-1.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudaarithm300.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudawarping300.dll filter=lfs diff=lfs merge=lfs -text
opencv_highgui300.dll filter=lfs diff=lfs merge=lfs -text
libcurld.dll filter=lfs diff=lfs merge=lfs -text
liblapack.dll filter=lfs diff=lfs merge=lfs -text
opencv_cudalegacy300.dll filter=lfs diff=lfs merge=lfs -text
Qt5XmlPatterns.dll filter=lfs diff=lfs merge=lfs -text
Qt5Concurrent.dll filter=lfs diff=lfs merge=lfs -text
Qt5PrintSupport.dll filter=lfs diff=lfs merge=lfs -text
Qt5QuickParticles.dll filter=lfs diff=lfs merge=lfs -text
Qt5Sensors.dll filter=lfs diff=lfs merge=lfs -text
Qt5Xml.dll filter=lfs diff=lfs merge=lfs -text
Qt5Network.dll filter=lfs diff=lfs merge=lfs -text
Qt5SerialBus.dll filter=lfs diff=lfs merge=lfs -text
Qt5SerialPort.dll filter=lfs diff=lfs merge=lfs -text
Qt5WebChannel.dll filter=lfs diff=lfs merge=lfs -text
Qt5Qml.dll filter=lfs diff=lfs merge=lfs -text
Qt5QuickTemplates2.dll filter=lfs diff=lfs merge=lfs -text
Qt5QuickWidgets.dll filter=lfs diff=lfs merge=lfs -text
Qt5Scxml.dll filter=lfs diff=lfs merge=lfs -text
Qt5Core.dll filter=lfs diff=lfs merge=lfs -text
Qt5Gui.dll filter=lfs diff=lfs merge=lfs -text
Qt5Multimedia.dll filter=lfs diff=lfs merge=lfs -text
Qt5Positioning.dll filter=lfs diff=lfs merge=lfs -text
Qt5OpenGL.dll filter=lfs diff=lfs merge=lfs -text
Qt5Test.dll filter=lfs diff=lfs merge=lfs -text
Qt5Sql.dll filter=lfs diff=lfs merge=lfs -text
Qt5Svg.dll filter=lfs diff=lfs merge=lfs -text
Qt5Widgets.dll filter=lfs diff=lfs merge=lfs -text
ot21-OpenThreads.dll filter=lfs diff=lfs merge=lfs -text
postprocess.dll filter=lfs diff=lfs merge=lfs -text
projectd.dll filter=lfs diff=lfs merge=lfs -text
Qt5Quick.dll filter=lfs diff=lfs merge=lfs -text
Qt5QuickControls2.dll filter=lfs diff=lfs merge=lfs -text
Qt5WebSockets.dll filter=lfs diff=lfs merge=lfs -text
Qt5WinExtras.dll filter=lfs diff=lfs merge=lfs -text
Qt5RemoteObjects.dll filter=lfs diff=lfs merge=lfs -text
project.dll filter=lfs diff=lfs merge=lfs -text
Qt5MultimediaQuick_p.dll filter=lfs diff=lfs merge=lfs -text
Qt5MultimediaWidgets.dll filter=lfs diff=lfs merge=lfs -text
Qt5QuickTest.dll filter=lfs diff=lfs merge=lfs -text
ot20-OpenThreads.dll filter=lfs diff=lfs merge=lfs -text
res/Einscan-pro/200x150/lookupTable.dat filter=lfs diff=lfs merge=lfs -text
res/einscan-plus/200x150/lookupTable.dat filter=lfs diff=lfs merge=lfs -text
SnMarkerAlign.dll filter=lfs diff=lfs merge=lfs -text
sn3DFileIO.dll filter=lfs diff=lfs merge=lfs -text
sn3DTargetExtract.dll filter=lfs diff=lfs merge=lfs -text
ZIPHELPER.dll filter=lfs diff=lfs merge=lfs -text
sn3DAlpCtrl.dll filter=lfs diff=lfs merge=lfs -text
sn3DLaserPlatCalibrate.dll filter=lfs diff=lfs merge=lfs -text
snCameraControl.dll filter=lfs diff=lfs merge=lfs -text
sn3DTargetAlign.dll filter=lfs diff=lfs merge=lfs -text
sn3DLock.dll filter=lfs diff=lfs merge=lfs -text
sn3DLockDll.dll filter=lfs diff=lfs merge=lfs -text
stripe_scaner.dll filter=lfs diff=lfs merge=lfs -text
Sn3DMarkerPointReb.dll filter=lfs diff=lfs merge=lfs -text
sn3DHIDCommunication.dll filter=lfs diff=lfs merge=lfs -text
Sn3DLaserStripeCenExtract.dll filter=lfs diff=lfs merge=lfs -text
sn3DHandiDLPDev.dll filter=lfs diff=lfs merge=lfs -text
Sn3DCalibParamConvert.dll filter=lfs diff=lfs merge=lfs -text
sn3DHDEinS.dll filter=lfs diff=lfs merge=lfs -text
sn3DTurnTable.dll filter=lfs diff=lfs merge=lfs -text
Sn3DComputerRT.dll filter=lfs diff=lfs merge=lfs -text
sn3DCamera.dll filter=lfs diff=lfs merge=lfs -text
snTargetExtract.dll filter=lfs diff=lfs merge=lfs -text
tbb.dll filter=lfs diff=lfs merge=lfs -text
Sn3DMarkerPtAlign.dll filter=lfs diff=lfs merge=lfs -text
sn3DScan.dll filter=lfs diff=lfs merge=lfs -text
sn3DSockdev.dll filter=lfs diff=lfs merge=lfs -text
sn3DStereoBuild.dll filter=lfs diff=lfs merge=lfs -text
SiUSBXp.dll filter=lfs diff=lfs merge=lfs -text
sn3DDLPdev.dll filter=lfs diff=lfs merge=lfs -text
sn3DHiddev.dll filter=lfs diff=lfs merge=lfs -text
SHNCamera.dll filter=lfs diff=lfs merge=lfs -text
Sn3DMultilinesReb3D.dll filter=lfs diff=lfs merge=lfs -text
SpeckleRebWithNewHLJ.dll filter=lfs diff=lfs merge=lfs -text
sn3DCalibration.dll filter=lfs diff=lfs merge=lfs -text
sn3DEncodeRecognition.dll filter=lfs diff=lfs merge=lfs -text
Ty3dEllipseReconstruction.dll filter=lfs diff=lfs merge=lfs -text
sn3DProjector.dll filter=lfs diff=lfs merge=lfs -text
utils.dll filter=lfs diff=lfs merge=lfs -text
ssleay32.dll filter=lfs diff=lfs merge=lfs -text
Sn3DDental.dll filter=lfs diff=lfs merge=lfs -text
Sn3D_Point_Extract.dll filter=lfs diff=lfs merge=lfs -text
USBAPI.dll filter=lfs diff=lfs merge=lfs -text
scan_sdk.dll filter=lfs diff=lfs merge=lfs -text
sn3DImageLoad.dll filter=lfs diff=lfs merge=lfs -text
toupcam.dll filter=lfs diff=lfs merge=lfs -text
Sn3DColorCorrect.dll filter=lfs diff=lfs merge=lfs -text
Sn3DUVAtlas.dll filter=lfs diff=lfs merge=lfs -text
sketchfab_api.dll filter=lfs diff=lfs merge=lfs -text
sn3DHandiSync.dll filter=lfs diff=lfs merge=lfs -text
sn3DLcrdev.dll filter=lfs diff=lfs merge=lfs -text
Sn3DRegistration.dll filter=lfs diff=lfs merge=lfs -text
Sn3DAVXImp.dll filter=lfs diff=lfs merge=lfs -text
sn3DHidBand.dll filter=lfs diff=lfs merge=lfs -text
zlib.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgUI.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgViewer.dll filter=lfs diff=lfs merge=lfs -text
osg157-osg.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgGA.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgManipulator.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgTerrain.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgDB.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgWidget.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgShadow.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgText.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgUtil.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgAnimation.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgPresentation.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgVolume.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgSim.dll filter=lfs diff=lfs merge=lfs -text
osg157-osgParticle.dll filter=lfs diff=lfs merge=lfs -text
