<?xml version="1.0" encoding="utf8"?>
<config>
	<render_config>
		<resample_max>3000000</resample_max>
	</render_config>
	<laser_scan_config>
		<cameraExposure>5.0</cameraExposure>
		<cameraExposure_cali>5.0</cameraExposure_cali>
		<cameraExposure_tex_cali>3</cameraExposure_tex_cali>
		<cameraGain_tex_cali>64</cameraGain_tex_cali>
		<cameraGain>100</cameraGain>
		<ProjectorBrightness>32</ProjectorBrightness>
		<TriggerPulseWidth>1</TriggerPulseWidth>
		<TriggerPulseWidth_Cali>5</TriggerPulseWidth_Cali>
		<PointDistF>0.5</PointDistF>
		<PointDistF_High_Set>0.2</PointDistF_High_Set>
		<PointDistF_Mid_Set>0.5</PointDistF_Mid_Set>
		<PointDistF_Low_Set>1.0</PointDistF_Low_Set>
		<PointDistF_Other>false</PointDistF_Other>
		<PointDistF_Step>0.1</PointDistF_Step>
		<PointDistF_Max>2.0</PointDistF_Max>
		<PointDistF_Min>0.2</PointDistF_Min>
		<epipolar>0.8</epipolar>
		<dTolerance>0.05</dTolerance>
		<is_read_pic>0</is_read_pic>
		<is_save_pic>0</is_save_pic>
		<is_show_pic>1</is_show_pic>
		<singleScanPeriod>20</singleScanPeriod>
		<width>1280</width>
		<height>1024</height>
		<dScanRange>300</dScanRange>
		<highThresh>0.7</highThresh>
		<lowThresh>0.2</lowThresh>
		<circumferenceMin>30</circumferenceMin>
		<circumferenceMax>200</circumferenceMax>
		<minDiameter>8</minDiameter>
		<maxDiameter>60</maxDiameter>
		<circleQuality>0.4</circleQuality>
		<grayTh>100</grayTh>
		<sigma>1.0</sigma>
		<disPlatTh>0.3</disPlatTh>
		<parallaxTh>450</parallaxTh>
		<laser_calibrate_gray_th>60</laser_calibrate_gray_th>
		<laser_calibrate_epipolar>0.3</laser_calibrate_epipolar>
		<laser_plane_dis_near>300</laser_plane_dis_near>
		<laser_plane_dis_far>500</laser_plane_dis_far>
		<rRatio_tex_camera>1.60798156</rRatio_tex_camera>
		<bRatio_tex_camera>1.26246285</bRatio_tex_camera>
		<caliBB>200</caliBB>
		<scan_range>200</scan_range>
		<isExpress>0</isExpress>
		<dScanRange_plus>400</dScanRange_plus>
		<highThresh_plus>0.8</highThresh_plus>
		<lowThresh_plus>0.3</lowThresh_plus>
		<circleQuality_plus>0.3</circleQuality_plus>
		<scan_range_plus>300</scan_range_plus>
		<laser_plane_dis_near_plus>400</laser_plane_dis_near_plus>
		<laser_plane_dis_far_plus>600</laser_plane_dis_far_plus>
		<circumferenceMin_plus>20</circumferenceMin_plus>
		<minDiameter_plus>5</minDiameter_plus>
		<irCamLeftNum>MV60502632</irCamLeftNum>
		<irCamRightNum>MV60502619</irCamRightNum>
		<feature_align_disThreshold>0.3</feature_align_disThreshold>
		<feature_frameRata>0.25</feature_frameRata>
		<normal_range_num>17</normal_range_num>
		<primenormcameraExposure>5.0</primenormcameraExposure>
		<primenormcameragain>100</primenormcameragain>
		<primecameraExposure>4.0</primecameraExposure>
		<primecameragain>32</primecameragain>
		<primesharpness>100</primesharpness>
		<primgamma>0</primgamma>
		<ir_CamLeftNum>SH509471417763692544</ir_CamLeftNum>
		<ir_CamRightNum>SH509471417763692544</ir_CamRightNum>
		<norm_CamLeftNum>SH513135312599515136</norm_CamLeftNum>
		<norm_ir_CamRightNum>SH513135312599515136</norm_ir_CamRightNum>
		<left_name>IRleftPic_2.bmp</left_name>
		<right_name>IRrightPic_2.bmp</right_name>
		<PointDistF_Max_plus>3.0</PointDistF_Max_plus>
		<fusionLimitNum>3000</fusionLimitNum>
		<plane_rate>0.8</plane_rate>
	</laser_scan_config>
	<Speckle_config>
		<save_frame>1</save_frame>
		<Show_Pic>0</Show_Pic>
		<If_Read_Pic>0</If_Read_Pic>
		<If_Save_Pic>0</If_Save_Pic>
		<If_Save_GrayPic>0</If_Save_GrayPic>
		<If_Save_ColorPic>0</If_Save_ColorPic>
		<If_Save_Row_Data>0</If_Save_Row_Data>
		<If_Show_Pic>0</If_Show_Pic>
		<If_Cout_Dabug_Message>0</If_Cout_Dabug_Message>
		<If_Visual>1</If_Visual>
		<If_Count_Time>0</If_Count_Time>
		<If_Save_Show_Data>0</If_Save_Show_Data>
		<If_Feature_Align>1</If_Feature_Align>
		<If_Save_TSDF>0</If_Save_TSDF>
		<Feature_Align_Operate_Num>30</Feature_Align_Operate_Num>
		<Position_Filter_Num>10</Position_Filter_Num>
		<Correlate_window>13</Correlate_window>
		<Search_Range>1280</Search_Range>
		<C_Thread>0.7</C_Thread>
		<Average_Gray_Thread>10</Average_Gray_Thread>
		<icpMaxDis>200</icpMaxDis>
		<icpMinDis>5.0</icpMinDis>
		<icpMaxAng>60</icpMaxAng>
		<icpMinAng>60</icpMinAng>
		<icpRataRay>0.25</icpRataRay>
		<icpRataFrame>0.5</icpRataFrame>
		<fetchWeight>3.0</fetchWeight>
		<searchDis>60</searchDis>
		<disAvgThread>0.3</disAvgThread>
		<isTextureScan>1</isTextureScan>
		<fARataRay>0.3</fARataRay>
		<fARataFrame>0.5</fARataFrame>
		<isSaveRawResult>0</isSaveRawResult>
		<singleScanPeriod>15</singleScanPeriod>
		<singleScanPeriodT>25</singleScanPeriodT>
		<singleScanPeriodN>33</singleScanPeriodN>
		<keepProjectingPercent>20</keepProjectingPercent>
		<trigColorCameraGapCount>3</trigColorCameraGapCount>
		<waitTimeBeforeTrigColorCameraN>60</waitTimeBeforeTrigColorCameraN>
		<waitTimeBeforeTrigColorCamera>45</waitTimeBeforeTrigColorCamera>
		<SetTriggerPulseWidth_Mon>5</SetTriggerPulseWidth_Mon>
		<SetTriggerPulseWidth_Col>5</SetTriggerPulseWidth_Col>
		<ifShowCurrentData>1</ifShowCurrentData>
		<ifShowWholeData>1</ifShowWholeData>
		<ifShowFailData>1</ifShowFailData>
		<isTexDebugOutput>0</isTexDebugOutput>
		<wholeDataUpdataRata>10</wholeDataUpdataRata>
		<scan_marker_type>0</scan_marker_type>
		<PointDistF>1</PointDistF>
		<PointDistF_High_Set>0.5</PointDistF_High_Set>
		<PointDistF_High_Set_plus>0.7</PointDistF_High_Set_plus>
		<PointDistF_Mid_Set>1.0</PointDistF_Mid_Set>
		<PointDistF_Low_Set>1.5</PointDistF_Low_Set>
		<PointDistF_Other>true</PointDistF_Other>
		<PointDistF_Step>0.1</PointDistF_Step>
		<PointDistF_Max>2.0</PointDistF_Max>
		<PointDistF_Min>0.5</PointDistF_Min>
		<PointDistF_Min_plus>0.5</PointDistF_Min_plus>
		<icpDisAvgThread>0.3</icpDisAvgThread>
		<fusionLimitNum>7000</fusionLimitNum>
		<rapid_fusionLimitNum>2500</rapid_fusionLimitNum>
		<feature_align_disThreshold>0.4</feature_align_disThreshold>
		<feature_frameRata>0.5</feature_frameRata>
		<pointNumTh>1500</pointNumTh>
		<AlignLimitNum>10000</AlignLimitNum>
		<rapid_AlignLimitNum>4000</rapid_AlignLimitNum>
		<UseDepthBuffer>1</UseDepthBuffer>
		<ui_dpi_scale>1</ui_dpi_scale>
		<GlobalOptimization>1</GlobalOptimization>
		<maxOptFrameNumber>60000</maxOptFrameNumber>
		<memory_need_per_frame>2</memory_need_per_frame>
		<total_frame_count>90</total_frame_count>
		<AutoSaveDepthBuffer>0</AutoSaveDepthBuffer>
		<AutoSaveFrameSpan>100000</AutoSaveFrameSpan>
		<use_gradthread_norm>1</use_gradthread_norm>
		<gradthread_norm_x>5</gradthread_norm_x>
		<gradthread_norm_y>5</gradthread_norm_y>
		<gradthread_light_x>1</gradthread_light_x>
		<gradthread_light_y>1</gradthread_light_y>
		<MinMarkerCount>4</MinMarkerCount>
		<parallelThread>1</parallelThread>
		<minPatchSize>100</minPatchSize>
		<planeRata>0.5</planeRata>
		<planeThreshold>0.5</planeThreshold>
		<planeThreshold2x>0.5</planeThreshold2x>
		<rapid_flag>false</rapid_flag>
		<grayImageSample>4</grayImageSample>
		<ePointDistF>1.0</ePointDistF>
		<rapid_flag_copy>false</rapid_flag_copy>
		<ProjectorBrightness2x>15</ProjectorBrightness2x>
		<rapid_data_save>false</rapid_data_save>
		<rapid_reload>1</rapid_reload>
		<hd_rapid_flag>true</hd_rapid_flag>
		<PointDistF_Max_plus>3.0</PointDistF_Max_plus>
		<rapid_special>false</rapid_special>
	</Speckle_config>
	<stripe_config>
		<turntable_times>0</turntable_times>
		<turntable_angle>45</turntable_angle>
		<turntable_ver_angle>3</turntable_ver_angle>
		<turntable_ver_times>4</turntable_ver_times>
		<save_model_type>1</save_model_type>
		<possde_pth>0</possde_pth>
		<max_distance>5.0</max_distance>
		<global_max_distance>12.0</global_max_distance>
		<need_mesh_simple>1</need_mesh_simple>
		<simplification>4</simplification>
		<repeat>50</repeat>
		<convergence>0.0001</convergence>
		<percentage>90</percentage>
		<factor_step>1.0</factor_step>
		<samples_pernode>1.0</samples_pernode>
		<scale_factor>1.1</scale_factor>
		<point_weight>3.0</point_weight>
		<flo_sample_radius>0.3</flo_sample_radius>
		<fix_sample_radius>0.1</fix_sample_radius>
		<feature_radius>1</feature_radius>
		<simp_ratio>1</simp_ratio>
		<hough_bin_size>0.3</hough_bin_size>
		<need_mesh_smooth>0</need_mesh_smooth>
		<mesh_smooth_iteration>2</mesh_smooth_iteration>
		<mesh_smooth_iteration_min>1</mesh_smooth_iteration_min>
		<mesh_smooth_iteration_max>5</mesh_smooth_iteration_max>
		<mesh_smooth_move_dist>0.10000000000000001</mesh_smooth_move_dist>
		<remain_num>2000000</remain_num>
		<boundary_weight>1.0</boundary_weight>
		<need_mesh_sharp>1</need_mesh_sharp>
		<mesh_sharp_sigma>0.01</mesh_sharp_sigma>
		<mesh_sharp_normal_iter>1</mesh_sharp_normal_iter>
		<mesh_sharp_vertex_iter>5</mesh_sharp_vertex_iter>
		<mesh_sharp_iter>3</mesh_sharp_iter>
		<mesh_sharp_iter_min>1</mesh_sharp_iter_min>
		<mesh_sharp_iter_max>20</mesh_sharp_iter_max>
		<mesh_poss_type>0</mesh_poss_type>
		<poss_depth>1</poss_depth>
		<poss_depth_h>11</poss_depth_h>
		<poss_depth_m>10</poss_depth_m>
		<poss_depth_l>9</poss_depth_l>
		<merge_patch_size>10</merge_patch_size>
		<hole_nodes_num>15</hole_nodes_num>
		<small_region>20</small_region>
		<process_edge_length>3</process_edge_length>
		<current_epo_radio>0</current_epo_radio>
		<need_expo_times>2</need_expo_times>
		<double_exposure_0>4.15</double_exposure_0>
		<double_exposure_1>12.45</double_exposure_1>
		<double_exposure_2>16.660</double_exposure_2>
		<double_exposure_3>4.15</double_exposure_3>
		<double_exposure_4>29.16</double_exposure_4>
		<double_exposure_5>4.15</double_exposure_5>
		<double_gain_0>110</double_gain_0>
		<double_gain_1>450</double_gain_1>
		<double_gain_2>1</double_gain_2>
		<double_gain_3>1</double_gain_3>
		<double_gain_4>1</double_gain_4>
		<double_gain_5>1</double_gain_5>
		<group_featue>1</group_featue>
		<turn_align_type>-1</turn_align_type>
		<mesh_sharp_iter>3</mesh_sharp_iter>
		<s_bright_show>0</s_bright_show>
		<last_turn_align_type>-1</last_turn_align_type>
		<color_camera_count>0</color_camera_count>
		<scan_use_color_camera>0</scan_use_color_camera>
		<color_mode>1</color_mode>
		<color_scan_mode>0</color_scan_mode>
		<lightstate>0</lightstate>
		<usb2_error>0</usb2_error>
	</stripe_config>
	<desk_config>
		<camera_exposure_s_turntable>60</camera_exposure_s_turntable>
		<camera_gain_s_ref>10</camera_gain_s_ref>
		<calib_expose_time>50.0</calib_expose_time>
		<calib_gainse_time>10</calib_gainse_time>
		<calib_exposp_time>60.0</calib_exposp_time>
		<calib_gainsp_time>10</calib_gainsp_time>
		<high_expo_time>500.0</high_expo_time>
		<high_gain_time>200</high_gain_time>
		<med_expo_time>300.0</med_expo_time>
		<med_gain_time>200</med_gain_time>
		<low_expo_time>300.0</low_expo_time>
		<low_gain_time>200</low_gain_time>
		<need_expo_times>2</need_expo_times>
		<double_exposure_0>50</double_exposure_0>
		<double_exposure_1>150</double_exposure_1>
		<double_exposure_2>140</double_exposure_2>
		<double_exposure_3>200</double_exposure_3>
		<double_exposure_4>300</double_exposure_4>
		<double_exposure_5>500</double_exposure_5>
		<double_gain_0>4</double_gain_0>
		<double_gain_1>30</double_gain_1>
		<double_gain_2>200</double_gain_2>
		<double_gain_3>200</double_gain_3>
		<double_gain_4>200</double_gain_4>
		<double_gain_5>200</double_gain_5>
		<tex_exposure_0>200</tex_exposure_0>
		<tex_exposure_1>200</tex_exposure_1>
		<tex_gain_0>200</tex_gain_0>
		<tex_gain_1>200</tex_gain_1>
		<max_step>12</max_step>
		<current_step_gray>3</current_step_gray>
		<gray_gain_0>3</gray_gain_0>
		<gray_expo_0>40.0</gray_expo_0>
		<gray_gain_1>4</gray_gain_1>
		<gray_expo_1>50.0</gray_expo_1>
		<gray_gain_2>5</gray_gain_2>
		<gray_expo_2>60.0</gray_expo_2>
		<gray_gain_3>6</gray_gain_3>
		<gray_expo_3>70.0</gray_expo_3>
		<gray_gain_4>7</gray_gain_4>
		<gray_expo_4>80.0</gray_expo_4>
		<gray_gain_5>8</gray_gain_5>
		<gray_expo_5>90.0</gray_expo_5>
		<gray_gain_6>9</gray_gain_6>
		<gray_expo_6>100.0</gray_expo_6>
		<gray_gain_7>10</gray_gain_7>
		<gray_expo_7>150.0</gray_expo_7>
		<gray_gain_8>12</gray_gain_8>
		<gray_expo_8>150.0</gray_expo_8>
		<gray_gain_9>15</gray_gain_9>
		<gray_expo_9>150.0</gray_expo_9>
		<gray_gain_10>15</gray_gain_10>
		<gray_expo_10>180.0</gray_expo_10>
		<gray_gain_11>20</gray_gain_11>
		<gray_expo_11>200.0</gray_expo_11>
		<gray_gain_12>30</gray_gain_12>
		<gray_expo_12>150.0</gray_expo_12>
		<light_off_max_step_tex>15</light_off_max_step_tex>
		<light_on_max_step_tex>8</light_on_max_step_tex>
		<light_off_current_step_tex>3</light_off_current_step_tex>
		<light_on_current_step_tex>3</light_on_current_step_tex>
		<light_off_gray_gain_tex_0>30</light_off_gray_gain_tex_0>
		<light_off_gray_expo_tex_0>250.0</light_off_gray_expo_tex_0>
		<light_off_gray_gain_tex_1>30</light_off_gray_gain_tex_1>
		<light_off_gray_expo_tex_1>300.0</light_off_gray_expo_tex_1>
		<light_off_gray_gain_tex_2>30</light_off_gray_gain_tex_2>
		<light_off_gray_expo_tex_2>350</light_off_gray_expo_tex_2>
		<light_off_gray_gain_tex_3>35</light_off_gray_gain_tex_3>
		<light_off_gray_expo_tex_3>350.0</light_off_gray_expo_tex_3>
		<light_off_gray_gain_tex_4>35</light_off_gray_gain_tex_4>
		<light_off_gray_expo_tex_4>400.0</light_off_gray_expo_tex_4>
		<light_off_gray_gain_tex_5>35</light_off_gray_gain_tex_5>
		<light_off_gray_expo_tex_5>400.0</light_off_gray_expo_tex_5>
		<light_off_gray_gain_tex_6>40</light_off_gray_gain_tex_6>
		<light_off_gray_expo_tex_6>450.0</light_off_gray_expo_tex_6>
		<light_off_gray_gain_tex_7>50</light_off_gray_gain_tex_7>
		<light_off_gray_expo_tex_7>550.0</light_off_gray_expo_tex_7>
		<light_off_gray_gain_tex_8>50</light_off_gray_gain_tex_8>
		<light_off_gray_expo_tex_8>700</light_off_gray_expo_tex_8>
		<light_off_gray_gain_tex_9>55</light_off_gray_gain_tex_9>
		<light_off_gray_expo_tex_9>800</light_off_gray_expo_tex_9>
		<light_off_gray_gain_tex_10>70</light_off_gray_gain_tex_10>
		<light_off_gray_expo_tex_10>1000</light_off_gray_expo_tex_10>
		<light_off_gray_gain_tex_11>100</light_off_gray_gain_tex_11>
		<light_off_gray_expo_tex_11>1200</light_off_gray_expo_tex_11>
		<light_off_gray_gain_tex_12>150</light_off_gray_gain_tex_12>
		<light_off_gray_expo_tex_12>1500</light_off_gray_expo_tex_12>
		<light_off_gray_gain_tex_13>200</light_off_gray_gain_tex_13>
		<light_off_gray_expo_tex_13>1500</light_off_gray_expo_tex_13>
		<light_off_gray_gain_tex_14>200</light_off_gray_gain_tex_14>
		<light_off_gray_expo_tex_14>2500</light_off_gray_expo_tex_14>
		<light_off_gray_gain_tex_15>300</light_off_gray_gain_tex_15>
		<light_off_gray_expo_tex_15>3000</light_off_gray_expo_tex_15>
		<light_on_gray_gain_tex_0>5</light_on_gray_gain_tex_0>
		<light_on_gray_expo_tex_0>35.0</light_on_gray_expo_tex_0>
		<light_on_gray_gain_tex_1>5</light_on_gray_gain_tex_1>
		<light_on_gray_expo_tex_1>40.0</light_on_gray_expo_tex_1>
		<light_on_gray_gain_tex_2>5</light_on_gray_gain_tex_2>
		<light_on_gray_expo_tex_2>45.0</light_on_gray_expo_tex_2>
		<light_on_gray_gain_tex_3>7</light_on_gray_gain_tex_3>
		<light_on_gray_expo_tex_3>50.0</light_on_gray_expo_tex_3>
		<light_on_gray_gain_tex_4>9</light_on_gray_gain_tex_4>
		<light_on_gray_expo_tex_4>55.0</light_on_gray_expo_tex_4>
		<light_on_gray_gain_tex_5>11</light_on_gray_gain_tex_5>
		<light_on_gray_expo_tex_5>60.0</light_on_gray_expo_tex_5>
		<light_on_gray_gain_tex_6>13</light_on_gray_gain_tex_6>
		<light_on_gray_expo_tex_6>65.0</light_on_gray_expo_tex_6>
		<light_on_gray_gain_tex_7>15</light_on_gray_gain_tex_7>
		<light_on_gray_expo_tex_7>70.0</light_on_gray_expo_tex_7>
		<light_on_gray_gain_tex_8>17</light_on_gray_gain_tex_8>
		<light_on_gray_expo_tex_8>75.0</light_on_gray_expo_tex_8>
		<light_on_gray_gain_tex_9>19</light_on_gray_gain_tex_9>
		<light_on_gray_expo_tex_9>80.0</light_on_gray_expo_tex_9>
		<light_on_gray_gain_tex_10>21</light_on_gray_gain_tex_10>
		<light_on_gray_expo_tex_10>85.0</light_on_gray_expo_tex_10>
		<LrScale>6033</LrScale>
		<LgScale>1197</LgScale>
		<LbScale>0</LbScale>
		<hight_flag>1</hight_flag>
		<LightOnLrScale>5449</LightOnLrScale>
		<LightOnLgScale>1221</LightOnLgScale>
		<LightOnLbScale>0</LightOnLbScale>
	</desk_config>
	<desk2_config>
		<calib_expo_time>246.0</calib_expo_time>
		<calib_gain_time>30</calib_gain_time>
		<high_expo_time>748</high_expo_time>
		<high_gain_time>25</high_gain_time>
		<med_expo_time>492</med_expo_time>
		<med_gain_time>25</med_gain_time>
		<low_expo_time>246</low_expo_time>
		<low_gain_time>25</low_gain_time>
		<need_expo_times>2</need_expo_times>
		<double_exposure_0>164</double_exposure_0>
		<double_exposure_1>666</double_exposure_1>
		<double_exposure_2>246</double_exposure_2>
		<double_exposure_3>574</double_exposure_3>
		<double_exposure_4>492</double_exposure_4>
		<double_exposure_5>574</double_exposure_5>
		<double_gain_0>30</double_gain_0>
		<double_gain_1>40</double_gain_1>
		<double_gain_2>30</double_gain_2>
		<double_gain_3>30</double_gain_3>
		<double_gain_4>30</double_gain_4>
		<double_gain_5>30</double_gain_5>
		<tex_exposure_0>246</tex_exposure_0>
		<tex_exposure_1>410</tex_exposure_1>
		<tex_gain_0>30</tex_gain_0>
		<tex_gain_1>30</tex_gain_1>
		<max_step>9</max_step>
		<current_step_gray>1</current_step_gray>
		<gray_gain_0>30</gray_gain_0>
		<gray_expo_0>164.0</gray_expo_0>
		<gray_gain_1>30</gray_gain_1>
		<gray_expo_1>246.0</gray_expo_1>
		<gray_gain_2>30</gray_gain_2>
		<gray_expo_2>328.0</gray_expo_2>
		<gray_gain_3>30</gray_gain_3>
		<gray_expo_3>410.0</gray_expo_3>
		<gray_gain_4>50</gray_gain_4>
		<gray_expo_4>492.0</gray_expo_4>
		<gray_gain_5>70</gray_gain_5>
		<gray_expo_5>574.0</gray_expo_5>
		<gray_gain_6>90</gray_gain_6>
		<gray_expo_6>666.0</gray_expo_6>
		<gray_gain_7>120</gray_gain_7>
		<gray_expo_7>748.0</gray_expo_7>
		<gray_gain_8>150</gray_gain_8>
		<gray_expo_8>830.0</gray_expo_8>
		<gray_gain_9>180</gray_gain_9>
		<gray_expo_9>912.0</gray_expo_9>
		<LrScale>0.93923334857326291</LrScale>
		<LgScale>0.88482446744138865</LgScale>
		<LbScale>1</LbScale>
	</desk2_config>
	<desk2plus_config>
		<calib_expo_time>410.0</calib_expo_time>
		<calib_gain_time>30</calib_gain_time>
		<high_expo_time>748</high_expo_time>
		<high_gain_time>25</high_gain_time>
		<med_expo_time>492</med_expo_time>
		<med_gain_time>25</med_gain_time>
		<low_expo_time>164</low_expo_time>
		<low_gain_time>25</low_gain_time>
		<need_expo_times>2</need_expo_times>
		<double_exposure_0>164</double_exposure_0>
		<double_exposure_1>666</double_exposure_1>
		<double_exposure_2>164</double_exposure_2>
		<double_exposure_3>574</double_exposure_3>
		<double_exposure_4>492</double_exposure_4>
		<double_exposure_5>574</double_exposure_5>
		<double_gain_0>30</double_gain_0>
		<double_gain_1>40</double_gain_1>
		<double_gain_2>30</double_gain_2>
		<double_gain_3>30</double_gain_3>
		<double_gain_4>30</double_gain_4>
		<double_gain_5>30</double_gain_5>
		<tex_exposure_0>246</tex_exposure_0>
		<tex_exposure_1>410</tex_exposure_1>
		<camera_exposure_s_turntable>410</camera_exposure_s_turntable>
		<camera_gain_s_ref>30</camera_gain_s_ref>
		<tex_gain_0>30</tex_gain_0>
		<tex_gain_1>30</tex_gain_1>
		<max_step>9</max_step>
		<current_step_gray>1</current_step_gray>
		<gray_gain_0>30</gray_gain_0>
		<gray_expo_0>164.0</gray_expo_0>
		<gray_gain_1>30</gray_gain_1>
		<gray_expo_1>246.0</gray_expo_1>
		<gray_gain_2>30</gray_gain_2>
		<gray_expo_2>328.0</gray_expo_2>
		<gray_gain_3>30</gray_gain_3>
		<gray_expo_3>410.0</gray_expo_3>
		<gray_gain_4>50</gray_gain_4>
		<gray_expo_4>492.0</gray_expo_4>
		<gray_gain_5>70</gray_gain_5>
		<gray_expo_5>574.0</gray_expo_5>
		<gray_gain_6>90</gray_gain_6>
		<gray_expo_6>666.0</gray_expo_6>
		<gray_gain_7>120</gray_gain_7>
		<gray_expo_7>748.0</gray_expo_7>
		<gray_gain_8>150</gray_gain_8>
		<gray_expo_8>830.0</gray_expo_8>
		<gray_gain_9>180</gray_gain_9>
		<gray_expo_9>912.0</gray_expo_9>
		<LrScale>0.97049969441089179</LrScale>
		<LgScale>0.95368840101938823</LgScale>
		<LbScale>1</LbScale>
	</desk2plus_config>
	<laser_prime_cam_para_config>
		<max_step>18</max_step>
		<current_step_gray>18</current_step_gray>
		<gray_gain_0>100</gray_gain_0>
		<gray_expo_0>4.15</gray_expo_0>
		<prime_gray_expo_0>5.0</prime_gray_expo_0>
		<prime_gray_gain_0>32</prime_gray_gain_0>
		<gray_gain_1>120</gray_gain_1>
		<gray_expo_1>4.15</gray_expo_1>
		<prime_gray_expo_1>5.0</prime_gray_expo_1>
		<prime_gray_gain_1>40</prime_gray_gain_1>
		<gray_gain_2>140</gray_gain_2>
		<gray_expo_2>4.15</gray_expo_2>
		<prime_gray_expo_2>5.0</prime_gray_expo_2>
		<prime_gray_gain_2>48</prime_gray_gain_2>
		<gray_gain_3>160</gray_gain_3>
		<gray_expo_3>4.15</gray_expo_3>
		<prime_gray_expo_3>5.0</prime_gray_expo_3>
		<prime_gray_gain_3>54</prime_gray_gain_3>
		<gray_gain_4>180</gray_gain_4>
		<gray_expo_4>4.15</gray_expo_4>
		<prime_gray_expo_4>5.0</prime_gray_expo_4>
		<prime_gray_gain_4>64</prime_gray_gain_4>
		<gray_gain_5>200</gray_gain_5>
		<gray_expo_5>4.15</gray_expo_5>
		<prime_gray_expo_5>6.0</prime_gray_expo_5>
		<prime_gray_gain_5>64</prime_gray_gain_5>
		<gray_gain_6>220</gray_gain_6>
		<gray_expo_6>4.15</gray_expo_6>
		<prime_gray_expo_6>7.0</prime_gray_expo_6>
		<prime_gray_gain_6>58</prime_gray_gain_6>
		<gray_gain_7>240</gray_gain_7>
		<gray_expo_7>4.15</gray_expo_7>
		<prime_gray_expo_7>7.0</prime_gray_expo_7>
		<prime_gray_gain_7>61</prime_gray_gain_7>
		<gray_gain_8>260</gray_gain_8>
		<gray_expo_8>4.15</gray_expo_8>
		<prime_gray_expo_8>7.0</prime_gray_expo_8>
		<prime_gray_gain_8>64</prime_gray_gain_8>
		<gray_gain_9>270</gray_gain_9>
		<gray_expo_9>4.15</gray_expo_9>
		<prime_gray_expo_9>8.0</prime_gray_expo_9>
		<prime_gray_gain_9>58</prime_gray_gain_9>
		<gray_gain_10>270</gray_gain_10>
		<gray_expo_10>5</gray_expo_10>
		<prime_gray_expo_10>8.0</prime_gray_expo_10>
		<prime_gray_gain_10>61</prime_gray_gain_10>
		<gray_gain_11>280</gray_gain_11>
		<gray_expo_11>6</gray_expo_11>
		<prime_gray_expo_11>8.0</prime_gray_expo_11>
		<prime_gray_gain_11>64</prime_gray_gain_11>
		<gray_gain_12>290</gray_gain_12>
		<gray_expo_12>7</gray_expo_12>
		<prime_gray_expo_12>9.0</prime_gray_expo_12>
		<prime_gray_gain_12>58</prime_gray_gain_12>
		<gray_gain_13>300</gray_gain_13>
		<gray_expo_13>8</gray_expo_13>
		<prime_gray_expo_13>9.0</prime_gray_expo_13>
		<prime_gray_gain_13>63</prime_gray_gain_13>
		<gray_gain_14>380</gray_gain_14>
		<gray_expo_14>8.3</gray_expo_14>
		<prime_gray_expo_14>9.0</prime_gray_expo_14>
		<prime_gray_gain_14>64</prime_gray_gain_14>
		<gray_gain_15>440</gray_gain_15>
		<gray_expo_15>10</gray_expo_15>
		<prime_gray_expo_15>9.0</prime_gray_expo_15>
		<prime_gray_gain_15>64</prime_gray_gain_15>
		<gray_gain_16>470</gray_gain_16>
		<gray_expo_16>12</gray_expo_16>
		<prime_gray_expo_16>10.0</prime_gray_expo_16>
		<prime_gray_gain_16>60</prime_gray_gain_16>
		<gray_gain_17>500</gray_gain_17>
		<gray_expo_17>16</gray_expo_17>
		<prime_gray_expo_17>10.0</prime_gray_expo_17>
		<prime_gray_gain_17>62</prime_gray_gain_17>
		<gray_gain_18>512</gray_gain_18>
		<gray_expo_18>20</gray_expo_18>
		<prime_gray_expo_18>10.0</prime_gray_expo_18>
		<prime_gray_gain_18>64</prime_gray_gain_18>
	</laser_prime_cam_para_config>
	<common_para_config>
		<show_ple_id>CP-20180098J14-V300</show_ple_id>
		<language_type>2052</language_type>
		<scan_type>0</scan_type>
		<stripe_scan_type>0</stripe_scan_type>
		<scan_precision_type>0</scan_precision_type>
		<scan_texture_type>0</scan_texture_type>
		<scan_precisin_type>1</scan_precisin_type>
		<ceam_show_type>0</ceam_show_type>
		<camera_exposure_tex>5</camera_exposure_tex>
		<camera_gain_tex>8</camera_gain_tex>
		<camera_exposure_ref>4.8</camera_exposure_ref>
		<camera_exposure_turntable>12.3</camera_exposure_turntable>
		<camera_exposure_turntable_plus>16.6</camera_exposure_turntable_plus>
		<camera_gain_ref>100</camera_gain_ref>
		<project_width>20</project_width>
		<project_width2x>15</project_width2x>
		<scan_period>15</scan_period>
		<scan_texperiod>20</scan_texperiod>
		<wait_time>5</wait_time>
		<cam_width>1280</cam_width>
		<cam_height>1024</cam_height>
		<do_guide>1</do_guide>
		<do_test_mode>false</do_test_mode>
		<device_state>0</device_state>
		<model_fn>77190</model_fn>
		<model_vn>39463</model_vn>
		<model_x>387</model_x>
		<model_y>311.576171875</model_y>
		<model_z>230.9384765625</model_z>
		<mesh_sample_edit>100</mesh_sample_edit>
		<mesh_resize_edit>100</mesh_resize_edit>
		<need_mesh_sample>1</need_mesh_sample>
		<need_mesh_resize>0</need_mesh_resize>
		<turn_align_type_>0</turn_align_type_>
		<sys_debug>0</sys_debug>
		<device_type>1</device_type>
		<have_mesh_type>0</have_mesh_type>
		<save_type_asc>false</save_type_asc>
		<save_type_stl>false</save_type_stl>
		<save_type_ply>false</save_type_ply>
		<save_type_obj>false</save_type_obj>
		<save_type_sasc>true</save_type_sasc>
		<fill_hole_marker>false</fill_hole_marker>
		<fill_hole_marker_perimeter>7</fill_hole_marker_perimeter>
		<fill_hole_plaint>false</fill_hole_plaint>
		<fill_hole_rings_num>3</fill_hole_rings_num>
		<fill_hole_perimeter>80</fill_hole_perimeter>
		<mesh_poss_type>0</mesh_poss_type>
		<tex_show_type>0</tex_show_type>
		<import_marker_point>0</import_marker_point>
		<device_type_name>pro</device_type_name>
		<color_camera>0</color_camera>
		<save_type_p3>false</save_type_p3>
		<log_remainday>3</log_remainday>
		<sleep_time_>100</sleep_time_>
		<sleep_stime_>400</sleep_stime_>
		<show_s_id>0</show_s_id>
		<device_sub_type>2</device_sub_type>
		<poss_mesh_for_print>0</poss_mesh_for_print>
		<fill_hole_marker_dis>4.5</fill_hole_marker_dis>
		<norm_dot_prod_thr>0.0</norm_dot_prod_thr>
		<reduceRatio>28.295454</reduceRatio>
		<startSpeedFrequency>1000</startSpeedFrequency>
		<maxSpeedFrequency>12000</maxSpeedFrequency>
		<microStep>4</microStep>
		<torque>2</torque>
		<accelerbrateSteps>1024</accelerbrateSteps>
		<startSpeedFrequency_calib>1000</startSpeedFrequency_calib>
		<maxSpeedFrequency_calib>10000</maxSpeedFrequency_calib>
		<camera_left_scale>1</camera_left_scale>
		<camera_right_scale>1</camera_right_scale>
		<3dprint>0</3dprint>
		<flag_fast_calibrate>0</flag_fast_calibrate>
		<current_calibrate>2</current_calibrate>
		<first_use>1</first_use>
		<save_type_3mf>false</save_type_3mf>
		<3dker_national_link>http://www.einscan.com</3dker_national_link>
		<3dker_china_link>www.shining3d.cn/3d_digitizer-87.html</3dker_china_link>
		<forum_national_link>www.einscan.com/einscan-experts-forum</forum_national_link>
		<forum_china_link>www.3dker.cn</forum_china_link>
		<data_national_link>https://www.facebook.com/groups/einscan</data_national_link>
		<data_china_link>https://www.facebook.com/groups/einscan</data_china_link>
		<support_s>1</support_s>
		<support_se>1</support_se>
		<support_sp>1</support_sp>
		<support_pro>1</support_pro>
		<support_plus>1</support_plus>
		<sound_time_span>3000</sound_time_span>
		<show_user_guid>1</show_user_guid>
		<show_dialog>0</show_dialog>
		<use_pause_save>1</use_pause_save>
		<play_rate>0.8</play_rate>
		<use_render_smooth>0</use_render_smooth>
		<stripe_scan_mode_sel>1</stripe_scan_mode_sel>
		<disable_device_event>0</disable_device_event>
		<have_ir_device>0</have_ir_device>
		<copy_show_user_guid>1</copy_show_user_guid>
		<hight_quality_texture>1</hight_quality_texture>
		<marker_count>0</marker_count>
		<use_ir>1</use_ir>
		<use_tritop>0</use_tritop>
		<gdaonfig>0</gdaonfig>
		<min_remain_memory>800</min_remain_memory>
		<min_remain_disk>800</min_remain_disk>
		<texture_map>1</texture_map>
		<current_contrast_light>0</current_contrast_light>
		<current_contrast>0</current_contrast>
		<se_sp_handle>0</se_sp_handle>
		<memory_alarm_prompt>0</memory_alarm_prompt>
		<current_operation>0</current_operation>
		<adjust_light>false</adjust_light>
		<show_ir_device>0</show_ir_device>
		<enable_double_zoom>1</enable_double_zoom>
		<disable_video>0</disable_video>
		<video_scale0>0</video_scale0>
		<video_scale1>0</video_scale1>
		<contrast_not_changed>0</contrast_not_changed>
		<solid_edge>1</solid_edge>
		<hight_quality_extend>0</hight_quality_extend>
		<icpdisAvg>0.5</icpdisAvg>
		<mv_cam_vession>1</mv_cam_vession>
		<show_prime_video>0</show_prime_video>
		<modul_ex_ple_left_right/>
		<modul_ex_ple_right_left/>
		<is2X>true</is2X>
		<have_texture_camera>0</have_texture_camera>
		<use_save_mesh>false</use_save_mesh>
		<isCH>true</isCH>
	</common_para_config>
	<stripe_cam_para_config>
		<max_step>16</max_step>
		<current_step_gray>0</current_step_gray>
		<gray_gain_0>80</gray_gain_0>
		<gray_expo_0>4.15</gray_expo_0>
		<gray_gain_1>110</gray_gain_1>
		<gray_expo_1>4.15</gray_expo_1>
		<gray_gain_2>150</gray_gain_2>
		<gray_expo_2>4.15</gray_expo_2>
		<gray_gain_3>190</gray_gain_3>
		<gray_expo_3>4.15</gray_expo_3>
		<gray_gain_4>150</gray_gain_4>
		<gray_expo_4>8.3</gray_expo_4>
		<gray_gain_5>170</gray_gain_5>
		<gray_expo_5>8.3</gray_expo_5>
		<gray_gain_6>190</gray_gain_6>
		<gray_expo_6>8.3</gray_expo_6>
		<gray_gain_7>220</gray_gain_7>
		<gray_expo_7>8.3</gray_expo_7>
		<gray_gain_8>250</gray_gain_8>
		<gray_expo_8>8.3</gray_expo_8>
		<gray_gain_9>280</gray_gain_9>
		<gray_expo_9>8.3</gray_expo_9>
		<gray_gain_10>310</gray_gain_10>
		<gray_expo_10>8.3</gray_expo_10>
		<gray_gain_11>340</gray_gain_11>
		<gray_expo_11>8.3</gray_expo_11>
		<gray_gain_12>370</gray_gain_12>
		<gray_expo_12>8.3</gray_expo_12>
		<gray_gain_13>380</gray_gain_13>
		<gray_expo_13>12.45</gray_expo_13>
		<gray_gain_14>400</gray_gain_14>
		<gray_expo_14>12.45</gray_expo_14>
		<gray_gain_15>450</gray_gain_15>
		<gray_expo_15>12.45</gray_expo_15>
		<gray_gain_16>510</gray_gain_16>
		<gray_expo_16>16.6</gray_expo_16>
	</stripe_cam_para_config>
	<laser_cam_para_config>
		<max_step>18</max_step>
		<current_step_gray>2</current_step_gray>
		<gray_gain_0>100</gray_gain_0>
		<gray_expo_0>4.15</gray_expo_0>
		<gray_gain_1>120</gray_gain_1>
		<gray_expo_1>4.15</gray_expo_1>
		<gray_gain_2>140</gray_gain_2>
		<gray_expo_2>4.15</gray_expo_2>
		<gray_gain_3>160</gray_gain_3>
		<gray_expo_3>4.15</gray_expo_3>
		<gray_gain_4>180</gray_gain_4>
		<gray_expo_4>4.15</gray_expo_4>
		<gray_gain_5>200</gray_gain_5>
		<gray_expo_5>4.15</gray_expo_5>
		<gray_gain_6>220</gray_gain_6>
		<gray_expo_6>4.15</gray_expo_6>
		<gray_gain_7>240</gray_gain_7>
		<gray_expo_7>4.15</gray_expo_7>
		<gray_gain_8>260</gray_gain_8>
		<gray_expo_8>4.15</gray_expo_8>
		<gray_gain_9>270</gray_gain_9>
		<gray_expo_9>4.15</gray_expo_9>
		<gray_gain_10>270</gray_gain_10>
		<gray_expo_10>5</gray_expo_10>
		<gray_gain_11>280</gray_gain_11>
		<gray_expo_11>6</gray_expo_11>
		<gray_gain_12>290</gray_gain_12>
		<gray_expo_12>7</gray_expo_12>
		<gray_gain_13>300</gray_gain_13>
		<gray_expo_13>8</gray_expo_13>
		<gray_gain_14>380</gray_gain_14>
		<gray_expo_14>8.3</gray_expo_14>
		<gray_gain_15>440</gray_gain_15>
		<gray_expo_15>8.3</gray_expo_15>
		<gray_gain_16>470</gray_gain_16>
		<gray_expo_16>8.3</gray_expo_16>
		<gray_gain_17>500</gray_gain_17>
		<gray_expo_17>8.3</gray_expo_17>
		<gray_gain_18>510</gray_gain_18>
		<gray_expo_18>9.15</gray_expo_18>
		<prime_max_step>8</prime_max_step>
		<prime_current_step_gray>8</prime_current_step_gray>
		<prime_gray_expo_0>5.0</prime_gray_expo_0>
		<prime_gray_gain_0>16</prime_gray_gain_0>
		<prime_gray_expo_1>5.0</prime_gray_expo_1>
		<prime_gray_gain_1>32</prime_gray_gain_1>
		<prime_gray_expo_2>5.0</prime_gray_expo_2>
		<prime_gray_gain_2>64</prime_gray_gain_2>
		<prime_gray_expo_3>8.0</prime_gray_expo_3>
		<prime_gray_gain_3>32</prime_gray_gain_3>
		<prime_gray_expo_4>8.0</prime_gray_expo_4>
		<prime_gray_gain_4>64</prime_gray_gain_4>
		<prime_gray_expo_5>9.0</prime_gray_expo_5>
		<prime_gray_gain_5>32</prime_gray_gain_5>
		<prime_gray_expo_6>9.0</prime_gray_expo_6>
		<prime_gray_gain_6>64</prime_gray_gain_6>
		<prime_gray_expo_7>10.0</prime_gray_expo_7>
		<prime_gray_gain_7>32</prime_gray_gain_7>
		<prime_gray_expo_8>10.0</prime_gray_expo_8>
		<prime_gray_gain_8>64</prime_gray_gain_8>
	</laser_cam_para_config>
	<speckle_cam_para_config>
		<max_step>18</max_step>
		<current_step_gray>2</current_step_gray>
		<gray_gain_0>100</gray_gain_0>
		<gray_expo_0>4.15</gray_expo_0>
		<gray_gain_1>120</gray_gain_1>
		<gray_expo_1>4.15</gray_expo_1>
		<gray_gain_2>140</gray_gain_2>
		<gray_expo_2>4.15</gray_expo_2>
		<gray_gain_3>160</gray_gain_3>
		<gray_expo_3>4.15</gray_expo_3>
		<gray_gain_4>180</gray_gain_4>
		<gray_expo_4>4.15</gray_expo_4>
		<gray_gain_5>200</gray_gain_5>
		<gray_expo_5>4.15</gray_expo_5>
		<gray_gain_6>220</gray_gain_6>
		<gray_expo_6>4.15</gray_expo_6>
		<gray_gain_7>240</gray_gain_7>
		<gray_expo_7>4.15</gray_expo_7>
		<gray_gain_8>260</gray_gain_8>
		<gray_expo_8>4.15</gray_expo_8>
		<gray_gain_9>270</gray_gain_9>
		<gray_expo_9>4.15</gray_expo_9>
		<gray_gain_10>270</gray_gain_10>
		<gray_expo_10>5</gray_expo_10>
		<gray_gain_11>280</gray_gain_11>
		<gray_expo_11>6</gray_expo_11>
		<gray_gain_12>290</gray_gain_12>
		<gray_expo_12>7</gray_expo_12>
		<gray_gain_13>300</gray_gain_13>
		<gray_expo_13>8</gray_expo_13>
		<gray_gain_14>380</gray_gain_14>
		<gray_expo_14>8.3</gray_expo_14>
		<gray_gain_15>440</gray_gain_15>
		<gray_expo_15>8.3</gray_expo_15>
		<gray_gain_16>470</gray_gain_16>
		<gray_expo_16>8.3</gray_expo_16>
		<gray_gain_17>500</gray_gain_17>
		<gray_expo_17>8.3</gray_expo_17>
		<gray_gain_18>510</gray_gain_18>
		<gray_expo_18>9.15</gray_expo_18>
	</speckle_cam_para_config>
	<savepath>D:\test_sdk\22\5</savepath>
	<project_path/>
	<information>
		<pointcount>0</pointcount>
		<filename/>
		<size/>
		<app_start_time/>
	</information>
	<last_save_path/>
	<last_prj_save_path>D:/test_sdk/22/</last_prj_save_path>
	<last_prj_open_path/>
	<marker_point_path/>
	<last_marker_point_path/>
	<marker_point_path/>
	<import_marker_point>1</import_marker_point>
	<tmp_path>C:/Users/pro/AppData/Local/Temp\3dprint.stl</tmp_path>
	<3dfile_type>0</3dfile_type>
	<3dfile_path/>
</config>
<state__scan>1</state__scan>
<3dker>
	<!--host-->
	<host>http://www.3dker.com/</host>
	<token/>
</3dker>
